.calendarcellul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 60px; /* 최대 높이 지정 */
  overflow-y: auto; /* 넘치는 경우 스크롤바 표시 */
}

.calendarcellli {
  padding: 5px 0;
  height: 20px; /* 고정된 높이 */
}
