@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
.eventBox {
  width: 400px;
  height: 80vh;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  box-sizing: border-box;
}
.eventBox hr {
  background: #dbdbdb;
  height: 1px;
  border: 0;
  box-sizing: border-box;
}

.eventBoxHeaderDay {
  font-family: "inter";
  font-weight: bold;
  font-size: 30px;
}
.eventBoxHeaderMonth {
  font-family: "inter";
  font-weight: bold;
  margin: 20px;
}

.eventBoxHeader {
  height: 70px;
  box-sizing: border-box;
  align-items: center;
  line-height: 100px;
  /* background-color: blue; */
  margin-left: 40px;
  display: flex;
  box-sizing: border-box;
}

.eventBoxList {
  height: 400px;
  /* margin: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}
.eventBoxFooter {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
  margin-right: 20px;
  margin-left: 20px;
}
.eventBoxFooter-input {
  border-radius: 30px;
  border: 3px solid #dbdbdb;
  margin-left: 10px;
  width: 400px;
  height: 30px;
}
.eventBoxListAdd {
  border-radius: 10px;
  height: 30px;
  width: 30px;

  margin-left: 10px;
  background-color: #c5ffab;
  border: none;
  font-size: 20px;
  font-family: "inter";
  font-weight: bold;
}
.eventBoxListAdd:hover {
  opacity: 0.7;
  cursor: pointer;
}
.eventItem:hover {
  opacity: 0.7;
  cursor: pointer;
}
