.calendarM {
  /* background-color: #dbdbdb; */
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
}
.calendar-main {
  /*  background-color: red; */
}

.calendar-header {
  background-color: red;
  height: 100px;
  align-items: center;
}
.calendar-body {
  /* background-color: blue; */
}
.calendar-event {
  display: flex;
  justify-content: center;
}
